<div id="nav-border"></div>
<nav id="navigation" class="navbar center-menu" role="navigation" ng-controller="HeaderController">
    <div class="container navbar-container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-collapse" ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand-logo" href="#/project">
            <img src="/project/modules/core/images/joinus.png" alt="JoinUs">
            <!-- <b>JoinUs</b> -->
        </a>
        <div class="collapse navbar-collapse js-collapse">
            <ul class="nav navbar-nav navbar navbar-right">
                <li id="header-{{$index}}" class="header-title search">
                    <div class="search-header">
                        <input id="searchEvents" data-ng-model="keywords" type="search" maxlength="50" name="query" placeholder="Search Events" value="" autocomplete="off">
                        <button class="btn btn-xs" ng-click="search(keywords)">
                            <span class="search-icon fa fa-search" id="searchIcon"></span>
                        </button>
                    </div>
                </li>
                <li id="header-{{$index}}" class="header-title" ng-repeat='header in headerList'>
                    <a ng-click="goto($index)">{{header}}</a>
                </li>
                <li ng-if="!user" class="header-title">
                    <a href="#/register" >Register</a>
                </li>
                <li ng-if="!user" class="header-title">
                    <a href="#/login">Login</a>
                </li>
                <li ng-if="user" class="header-title">
                    <a href="" ng-click="logout()">Logout</a>
                </li>
                <li ng-if="user" class="header-title">
                    <a href="#/profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>