<div class="how-it-works text-center ng-scope">
    <div class="container">
        <div class="hiws">
            <div class="hiw hiw-1 text-center col-md-4 col-xs-12">
                <h2>Create</h2>
                <h4>Create your event.</h4>

                <!-- <p>With a number of templates for the event, pick one and get started.</p> -->
            </div>
            <div class="hiw hiw-2 text-center col-md-4 col-xs-12">
                <h2>Invite</h2>
                <h4>Select your esteemed guests.</h4>

                <!-- <p>Invite a number of people for the event.</p> -->
            </div>
            <div class="hiw hiw-3 text-center col-md-4 col-xs-12">
                <h2>Track</h2>
                <h4>Track the number of invitees attending the event.</h4>

                <!-- <p>Receive your cash back payments via PayPal. Think of it as being paid to shop.</p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn-primary btn" ng-click="go('/create')"><span class="ng-scope">Lets get started</span></button>
            </div>
        </div>
    </div>
</div>