.users {
	color: white;
}
.users .box .box-content .pins .outer{
	position: relative;
	border-radius: 6px;
	/* background: rgba(43, 18, 3, 0.29); */
	background: rgba(177, 115, 77, 0.13);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.22);
}

.users .box .box-content .pins div{
	padding: 10px;
}

.users .box .box-content .pins{
	padding-top: 10px;
}

.users .box .box-content .pins .outer div{
	padding-left: 20px;
}


/*
	Individual Users page CSS
 */
.individual-user {
	color: white;
}

.individual-user .vertical-tabs .anti-rotate{
	webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	/* margin-bottom: 100px; */
	height: 30px;
	width: 160px;
	margin-bottom: 140px;
	background-color: rgba(31, 8, 8, 0.46);
	border: 0;
	color: white;
	/* padding-bottom: 30px; */
	padding: 0;
	border: 1px solid rgb(110, 63, 12);
}

.individual-user .vertical-tabs .anti-rotate:hover{
	background-color: rgb(110, 63, 12);
	cursor: pointer;
}

.individual-user .vertical-tabs .anti-rotate.active{
	background-color: rgb(110, 63, 12);
}

.individual-user .vertical-tabs .anti-rotate a{
	color: white;
	letter-spacing: 1.5px;
	width: 100%;
	height: 100%;
	display: block;
	margin-top: 4px;
	/* padding: 12px 30px; */
}

.individual-user .vertical-tabs .anti-rotate a:hover{
	text-decoration: none;
	color: white;
}

.individual-user .vertical-tabs ul {
	margin-top: 60px;
	margin-left: -55px;
}

.individual-user .tab-content {
	color: white;
}

.individual-user .tab-content .user-events li{
	background-color: rgba(31, 8, 8, 0.46);
	border: 1px solid rgb(110, 63, 12);
}
.individual-user .tab-content .user-events,.user-registered-events li:hover{
	cursor: pointer;
}

.individual-user .tab-content .user-events .event-description{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-height: 1.25;
	/* max-height: 2; */
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
}
.individual-user .tab-content .user-registered-events li{
	background-color: rgba(31, 8, 8, 0.46);
	border: 1px solid rgb(110, 63, 12);
	padding: 40px;
}

.individual-user .form-control[disabled], fieldset[disabled] .form-control {
    cursor: auto;
}

.follow {
	padding-left: 15px;
}

.followers {
	padding-left: 15px;
}