.users {
	color: #341002;
}

.users .search-header h2 {
	margin-left: 10px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 46px;
	margin-top: 0;
	font-weight: 600;
	color: #341002;
}

.users .search-user {
	margin-left: 10px;
	padding-left: 10px;
}

.users .box{
	padding-top: 20px;
}

.users .box .box-content .pins {
	padding-left: 5px;
}

.users .box .box-content .pins .outer{
	position: relative;
	border-radius: 6px;
	/* background: rgba(43, 18, 3, 0.29); */
	background: rgba(177, 115, 77, 0.13);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.22);
}

.users .box .box-content .outer a {
	color: #341002;
}

.users .box .box-content .pins div{
	padding: 10px;
}

.users .box .box-content .pins{
	padding-top: 10px;
}

.users .box .box-content .pins .outer div{
	padding-left: 20px;
}


/*
	Individual Users page CSS
	*/
	.individual-user {
		color: #341002;
	}

	.individual-user .section-header h2{
		margin-left: 20px;
		padding-left: 20px;
		padding-bottom: 20px;
	}

	.individual-user #details {
		border-color: #341002;
		border-width: 1px;
		border-style: solid;
		padding: 20px;
		padding-bottom: 0px;
		margin-left: 25px;
	}

	.individual-user .tab-content .form-group{
		color: #341002;
		font-size: 16px;
		font-weight: bolder;
	}

	.individual-user .form-control[disabled], fieldset[disabled] .form-control {
		cursor: auto;
	}

	.follow {
		padding-left: 15px;
	}

	.follow .btn-default.disabled {
		color: #341002;
		background-color: #E8BC51;
		border-color: #341002;
	}

	.follow .btn-default.disabled:hover {
		color: #E8BC51;
		background-color: #341002;
		border-color: #E8BC51;
	}

	.follow button {
		color: #341002;
		background-color: #E8BC51;
		border-color: #341002;
	}

	.follow button:hover {
		color: #E8BC51;
		background-color: #341002;
		border-color: #E8BC51;
	}

	.followers {
		padding-left: 15px;
	}

	.followers a{
		padding-left: 15px;
		color: #341002;
	}





	/* Tabs */
	.individual-user .vertical-tabs .anti-rotate{
		webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		/* margin-bottom: 100px; */
		height: 30px;
		width: 160px;
		margin-bottom: 140px;
		background-color: rgba(31, 8, 8, 0.46);
		border: 0;
		color: white;
		/* padding-bottom: 30px; */
		padding: 0;
		border: 1px solid rgb(110, 63, 12);
	}

	.individual-user .vertical-tabs .anti-rotate:hover{
		background-color: rgb(110, 63, 12);
		cursor: pointer;
	}

	.individual-user .vertical-tabs .anti-rotate.active{
		background-color: rgb(110, 63, 12);
	}

	.individual-user .vertical-tabs .anti-rotate a{
		color: white;
		letter-spacing: 1.5px;
		width: 100%;
		height: 100%;
		display: block;
		margin-top: 4px;
		/* padding: 12px 30px; */
	}

	.individual-user .vertical-tabs .anti-rotate a:hover{
		text-decoration: none;
		color: white;
	}

	.individual-user .vertical-tabs ul {
		margin-top: 60px;
		margin-left: -55px;
	}

	.individual-user .tab-content {
		color: white;
	}

	.individual-user .tab-content .user-events li{
		/* background-color: rgba(31, 8, 8, 0.46);
		border: 1px solid rgb(110, 63, 12); */
	}
	.individual-user .tab-content .user-events,.user-registered-events li:hover{
		cursor: pointer;
	}

	.individual-user .tab-content .user-events .event-description{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		line-height: 1.25;
		/* max-height: 2; */
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 10px;
	}
	.individual-user .tab-content .user-registered-events li{
		/* background-color: rgba(31, 8, 8, 0.46);
		border: 1px solid rgb(110, 63, 12);
		padding: 40px; */
	}



	/*TAB TAB TAB TAB TAB*/
	/*TAB TAB TAB TAB TAB*/
	/*TAB TAB TAB TAB TAB*/
	/*TAB TAB TAB TAB TAB*/
	/*TAB TAB TAB TAB TAB*/
	/*TAB TAB TAB TAB TAB*/


	.individual-user .vertical-tabs .anti-rotate{
		webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		/* margin-bottom: 100px; */
		height: 30px;
		width: 160px;
		margin-bottom: 140px;
		background-color: rgba(31, 8, 8, 0.46);
		border: 0;
		color: white;
		/* padding-bottom: 30px; */
		padding: 0;
		border: 1px solid rgb(110, 63, 12);

		/*button color*/
		color: #341002;
		background-color: #E8BC51;
		border-color: #341002;
	}

	.individual-user .vertical-tabs .anti-rotate:hover{
		background-color: rgb(110, 63, 12);
		cursor: pointer;

		color: #E8BC51;
		background-color: #341002;
		border-color: #E8BC51;
	}

	.individual-user .vertical-tabs .anti-rotate.active{
		background-color: rgb(110, 63, 12);

		color: #E8BC51;
		background-color: #341002;
		border-color: #E8BC51;
	}

	.individual-user .vertical-tabs .anti-rotate a{
		/* color: white; */
		letter-spacing: 1.5px;
		width: 100%;
		height: 100%;
		display: block;
		margin-top: 4px;
		/* padding: 12px 30px; */
	}

	.individual-user .vertical-tabs .anti-rotate a:hover{
		text-decoration: none;
		/* color: white; */
	}

	.individual-user .vertical-tabs .anti-rotate a{
		color: #341002;
	}

	.individual-user .vertical-tabs .anti-rotate:hover a{
		color: #E8BC51;
	}

	.individual-user .vertical-tabs .anti-rotate.active a{
		color: #E8BC51;
	}

	.individual-user .vertical-tabs ul {
		margin-top: 60px;
		margin-left: -55px;
	}

	.individual-user .tab-content {
		color: white;
	}

	.individual-user .tab-content .user-events li{
	/* background-color: rgba(31, 8, 8, 0.46);
	border: 1px solid rgb(110, 63, 12); */
}
.individual-user .tab-content .user-events,.user-registered-events li:hover{
	cursor: pointer;
}
.individual-user .tab-content .user-events .event-description{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-height: 1.25;
	/* max-height: 2; */
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
}
.individual-user .tab-content .user-registered-events li{
	/* background-color: rgba(31, 8, 8, 0.46);
	border: 1px solid rgb(110, 63, 12);
	padding: 40px; */
}


/* Sub tabs design */
.individual-user .sub-tabs ul{
	border-bottom: 1px solid #341002;
	margin-left: 10px;
} 

.individual-user .sub-tabs ul.nav-tabs li {
	color: #341002;
	background-color: #E8BC51;
	/* border-color: #341002; */
	border-bottom: 1px solid #341002;
}

.individual-user .sub-tabs ul.nav-tabs li:hover {
	color: #E8BC51;
	background-color: #341002;
} 

.individual-user .sub-tabs ul.nav-tabs li.active {
	color: #E8BC51;
	background-color: #341002;
	border-bottom: 0px solid #341002;

	border-bottom: 1px solid #E8BC51;
	padding-bottom: 2px;
} 

.individual-user .sub-tabs ul.nav-tabs li a{
	color: #341002;
	background-color: transparent;
	border-color: transparent;
}

.individual-user .sub-tabs ul.nav-tabs li:hover a{
	color: #E8BC51;
	background-color: transparent;
}

.individual-user .sub-tabs ul.nav-tabs li.active a{
	color: #E8BC51;
	background-color: transparent;
	border: 0px;
}

.individual-user .sub-tabs ul.nav-tabs li a:hover{
	border-color: transparent;
}

.individual-user .event-body{
	padding-bottom: 100px;
	color: #341002;
}

.individual-user .event-body h4{
	padding-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.individual-user .event-categories{
	padding-left: 0px;
}

.individual-user .event-categories .list-group-item {
	padding-left: 0px;
	padding-right: 0px;
	color: #341002;
	background-color: rgba(232, 188, 81, 0.54);
	border: 0px solid #ddd;
}

.individual-user .event-categories .event-block {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #341002;
	background-color: rgba(232, 188, 81, 0.54);
	border: 0px solid #ddd;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.17);
}

.individual-user .event-categories .event-block:hover {
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.35);
	cursor: pointer;
}

.individual-user .event-categories .event-block a {
	color: #341002;
}

.individual-user .event-categories .event-block a:hover {
	text-decoration: none;
}

.individual-user .event-categories .event .event-title h3 {
	color: #341002;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.individual-user .event-categories .event .event-meta {
	padding-left: 20px;
}

.individual-user .event-categories .event .event-meta .venue{
	padding-bottom: 0px;
}

.individual-user .event-categories .event .event-meta .time{
	padding-top: 0px;
} 

.individual-user .event-body .user-events .create-event{
	margin-top: 10px;
	margin-left: 10px;
}

.individual-user .event-body .user-events .create-event button {
	color: #341002;
	background-color: #E8BC51;
	border-color: #341002;
}

.individual-user .event-body .user-events .create-event button:hover {
	color: #E8BC51;
	background-color: #341002;
	border-color: #E8BC51;
}