.search {
	overflow-x: hidden;
}
.search .title h2 {
	color: #341002;
	padding-left: 10px;
	margin-left: 10px;
}
.search .event-body{
	padding-bottom: 100px;
	color: #341002;
}
.search .event-categories .list-group-item {
	padding-left: 0px;
	padding-right: 0px;
	color: #341002;
	background-color: rgba(232, 188, 81, 0.54);
	border: 0px solid #ddd;
}

.search .event-categories .event-block {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #341002;
	background-color: rgba(232, 188, 81, 0.54);
	border: 0px solid #ddd;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.17);
}

.search .event-categories .event-block:hover {
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.35);
	cursor: pointer;
}

.search .event-categories .event-block a {
	color: #341002;
}

.search .event-categories .event-block a:hover {
	text-decoration: none;
}

.search .event-categories .event .event-title h3 {
	color: #341002;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search .event-categories .event .event-meta {
	padding-left: 20px;
}

.search .event-categories .event .event-meta .venue{
	padding-bottom: 0px;
}

.search .event-categories .event .event-meta .time{
	padding-top: 0px;
} 
