.search .event-categories .list-group-item {
	color: #341002;
	background-color: rgba(232, 188, 81, 0.54);
	border: 0px solid #ddd;
	box-shadow: 0 1px 0 0 rgba(0,0,0,.25);
}

.search .event-categories .list-group-item:hover {
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.22);
	cursor: pointer;
}