.individual-event {
	overflow-x: hidden;
	margin-left: 5px;
	margin-right: 5px;
}

.individual-event .edit-event button{
	background-color: transparent;
	border-width: 0px;
	z-index: 5;
	position: absolute;
	margin-left: -42px;
}

.individual-event .delete-event button{
	background-color: transparent;
	border-width: 0px;
	z-index: 5;
	position: absolute;
	margin-left: -90px;
}

.individual-event .error {
	color: red;
	margin-top: -5px;
	padding-bottom: 5px;
	padding-top: 10px;
}

.success {
	color: green;
	font-size: 16px;
	font-weight: bolder;
}
.error {
	font-size: 16px;
	font-weight: bolder;
}

.event-attendees {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	margin-top: 20px;
}


/*EDIT EVENT CSS*/
.event-edit {
	color: #341002;
}

.event-edit .edit-event-page{
	margin-left: 15px;
	margin-right: 15px;
}

.event-edit .title {
	margin-top: 10px;
	padding-bottom: 20px;
}

.event-edit .title h2 {
	font-size: 46px;
	margin-top: 0;
	font-weight: 700;
	color: #341002;
}
.event-edit .edit-event-page form{
	border-color: #341002;
	border-width: 1px;
	border-style: solid;
	padding: 20px;
}

.event-edit .edit-event-page form button{
	color: #341002;
	background-color: #E8BC51;
	border-color: #341002;
}

.event-edit .edit-event-page form button:hover{
	color: #E8BC51;
	background-color: #341002;
	border-color: #E8BC51;
}