<div class="container event-edit" ng-controller="EventEditController">

	<div ng-if="user" class="edit-event-page">
		<div class="row title">
			<h2>Edit Your Event People</h2>
		</div>
		<div class="row">
			<!-- FORM STARTS -->
			<form class="form-horizontal">

				<div class="form-group">
					<label for="event-name" class="col-sm-2">Event Name:</label>
					<div class="col-sm-5">
						<input type="text" data-ng-model="event.title" class="form-control" id="event-name" placeholder="Event Name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="event-description" class="col-sm-2">Event Description:</label>
					<div class="col-sm-5">
						<textarea  rows="6" type="text" data-ng-model="event.description" class="form-control" id="event-description" placeholder="Post your event description ..." required></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="event-date" class="col-sm-2">Event Date:</label>
					<div class="col-sm-5">
						<input type="date" data-ng-model="event.date" class="form-control" id="event-date" required>
					</div>
				</div>
				<div class="form-group">
					<label for="event-start-time" class="col-sm-2">From:</label>
					<div class="col-sm-5">
						<input type="time" data-ng-model="event.start_time" class="form-control" id="event-start-time" required>
					</div>
				</div>
				<div class="form-group">
					<label for="event-stop-time" class="col-sm-2">Till:</label>
					<div class="col-sm-5">
						<input type="time" data-ng-model="event.stop_time" class="form-control" id="event-stop-time" required>
					</div>
				</div>
				<div class="form-group">
					<label for="event-venue-address" class="col-sm-2">Street:</label>
					<div class="col-sm-5">
						<input type="text" data-ng-model="event.venue_address" class="form-control" id="event-venue-address" required>
					</div>
				</div>
				<div class="form-group">
					<label for="event-city-name" class="col-sm-2">City:</label>
					<div class="col-sm-5">
						<input type="text" data-ng-model="event.city_name" class="form-control" id="event-city-name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="event-region-name" class="col-sm-2">State:</label>
					<div class="col-sm-5">
						<input type="text" data-ng-model="event.region_name" class="form-control" id="event-region-name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="event-country-name" class="col-sm-2">Country:</label>
					<div class="col-sm-5">
						<input type="text" data-ng-model="event.country_name" class="form-control" id="event-country-name" required>
					</div>
				</div>
				<br>

				<div class="error not-found" ng-if="error">
					<span>{{error}}</span>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
						<button type="submit" ng-click="update()" class="btn btn-default">Update</button>
					</div>
				</div>
				<div class="success updated" ng-if="success">
					<span>{{success}}</span>
				</div>
			</form>
		</div>
	</div>

	<div ng-if="!user">
		<h3>Please <a href="#/login">Login</a> to access this page.</h3>
	</div>
	
</div>