.individual-event {
	overflow-x: hidden;
}

.individual-event .edit-event button{
	background-color: transparent;
	border-width: 0px;
	z-index: 5;
	position: fixed;
	margin-left: -42px;
}

.individual-event .delete-event button{
	background-color: transparent;
	border-width: 0px;
	z-index: 5;
	position: fixed;
	margin-left: -90px;
}

.individual-event .error {
	color: red;
	margin-top: -5px;
	padding-bottom: 5px;
	padding-top: 10px;
}

.success {
	color: green;
}

.event-attendees {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	margin-top: 20px;
}