<div class="container profile" ng-controller="ProfileController">
	<div class="row" style="padding-top: 15px;">

		<div ng-if="user" class="">
			<div class="col-xs-3">
				<div class="vertical-tabs">
					<ul class="list-group text-center">
						<li class="list-group-item anti-rotate"><a href="#/profile">Personal Details</a></li>
						<li class="list-group-item anti-rotate active"><a href="">My Events</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-9 col-xs-pull-1 tab-content">
				<div id="details" class="tab-pane">

					<!-- FORM STARTS -->
					<form class="form-horizontal">

						<div class="form-group">
							<label for="profile-fname" class="col-sm-3">First Name:</label>
							<div class="col-sm-5">
								<input type="text" data-ng-model="user.fname" class="form-control" id="profile-fname" placeholder="First Name" required>
							</div>
						</div>
						<div class="form-group">
							<label for="profile-lname" class="col-sm-3">Last Name:</label>
							<div class="col-sm-5">
								<input type="text" data-ng-model="user.lname" class="form-control" id="profile-lname" placeholder="Last Name" required>
							</div>
						</div>
						<div class="form-group">
							<label for="profile-email" class="col-sm-3">Email:</label>
							<div class="col-sm-5">
								<input type="email" data-ng-model="user.email" class="form-control" id="profile-email" placeholder="Email" required>
							</div>
						</div>

						<div class="form-group">
							<label for="profile-password" class="col-sm-3">Password:</label>
							<div class="col-sm-5">
								<input type="password" data-ng-model="user.password" class="form-control" id="profile-password" placeholder="Password" required>
							</div>
						</div>

						<div class="error not-found" ng-if="error">
							<span>{{error}}</span>
						</div>
						<div class="form-group submit">
							<div class="col-sm-offset-3 col-sm-5">
								<button type="submit" ng-click="update()" class="btn btn-default">Update</button>
							</div>
						</div>
						<div class="success updated" ng-if="success">
							<span>{{success}}</span>
						</div>
					</form>
				</div>
				<div id="events" class="tab-pane active">
					
					<div class="sub-tabs row">
						<ul class="nav nav-tabs">
							<li id="createdTab" class="active"><a href="">Created</a></li>
							<li id="attendingTab" ><a href="#/profile/events/attending">Attending</a></li>
						</ul>
					</div>

					<div class="tab-content event-body">
						<div id="createdEvents" class="user-events tab-pane active">
							<h4>Events that you have created</h4>
							<ul class="list-group event-categories">
								<li class="col-sm-6 event list-group-item" ng-repeat="event in events" ng-click="gotoEventPage(event)">
									<div class="row event-block">
										<div class="event-title"><h3>{{event.title}}</h3></div>
										<div class="row event-meta">
											<div class="row time">
												<!-- <span>Venue: {{event.venue_address}} {{event.city_name}} {{event.region_name}} {{event.country_name}}</span> -->
												<span>Time: {{event.start_time}}</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="row">
								<div class="col-sm-12 create-event">
									<button type="button" class="btn btn-primary btn-md" ng-click="create()">Create Event</button>
								</div>
								<div class="col-sm-12 error not-found">
									{{error}}
								</div>
							</div>
						</div>

						<div id="registeredEvents" class="user-registered-events tab-pane">
							<h4>Events that you have registered</h4>	
							<ul class="list- event-categories">
								<li class="col-sm-6 event list-group-item" ng-repeat="event in registeredEvents" ng-click="gotoEventPage(event)">
									<div class="row event-block">
										<div class="event-title"><h3>{{event.title}}</h3></div>
										<div class="row event-meta">
											<div class="row time">
												<span>Time: {{event.start_time}}</span>
											</div>
										</div>
									</div>
								</li>
							</ul>					
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="!user">
			<h3>Please <a href="#/login">Login</a> to access this page.</h3>
		</div>

	</div>
</div>