<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jainam Shah</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="/me/css/resume.css">

</head>
<body class="being-body">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Jainam Shah</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps <span class="caret"></span></a>
						<ul class="dropdown-menu app-list">
							<li><a href="/assignment/client">Form Maker</a></li>
							<li><a href="/widgets/weather.html">Weather</a></li>
							<li><a href="/project">JoinUs</a></li>
						</ul>
					</li>
					<li><a href="/me/resume.html">Resume</a></li>
					<li><a href="/me/profile.html">About Me</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="resume" class="container section-wrapper">
		<div class="section-content col-xs-11 col-md-12">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="section-title">My Resume</h2>

					<p class="section-subtitle animated bounceInLeft" style="opacity: 1;">
						Aspiring to be a full stack developer
					</p>
				</div>
				<!-- //.col-md-8 -->
			</div>
			<!-- //.row -->

			<!-- EDUCATION START -->
			<div class="row education">
				<div class="col-md-10 col-md-offset-1">
					<h3>
						My Education
						<br>
						2007 - 2015
					</h3>

					<div class="panel-group resume" id="education">
						<div id="edu-0" class="resume-item">
							<div class="resume-year">
								<span class="resume-year">2013-2015</span>
							</div>
							<div class="resume-btn text-center">
								<a ng-click="toggleEdu(0)"></a>
							</div>
							<div class="panel">
								<div class="panel-heading resume-title">
									<div class="panel-title">
										<h4 class="resume-title">Masters Degree - Northeastern University</h4>
									</div>
								</div>

								<div class="resume-description" ng-show="edu.isToggled" id="education1">
									<div class="panel-body text-grey">
										<p>As a Computer Science graduate student, I have developed strong programming skills specifically in Java, Python in addition to a base knowledge of web technologies including HTML, JavaScript, AJAX, and jQuery. I am proficient in Oracle 10g, MySQL and Postgres. The sophisticated graduate coursework at Northeastern have helped me further optimize my programming ability. </p>
									</div>
								</div>
							</div>
						</div>
						<div id="edu-1" class="resume-item">
							<div class="resume-year">
								<span class="resume-year">2009-2013</span>
							</div>
							<div class="resume-btn text-center">
								<a ng-click="toggleEdu(1)"></a>
							</div>
							<div class="panel">
								<div class="panel-heading resume-title">
									<div class="panel-title">
										<h4 class="resume-title">Bachelors Degree - Mumbai University</h4>
									</div>
								</div>

								<div class="resume-description" ng-show="edu.isToggled" id="education1">
									<div class="panel-body text-grey">
										<p>I enrolled for a 4-year Bachelor’s course in Computer Engineering at Mumbai University. I have consistently maintained a first class grade with distinction in all my semesters. I studied the fundamentals of subjects like Computer Programming, Data Structure and Files, Advance Database, Advance Computer Network, Micro-Processor, Theory of Computer Science, etc. The excellent curriculum has given me a sound conceptual basis, which is, I believe, essential for any professional career ahead. My inquiring nature and my drive to imbibe the basic principles and techniques of any subject of study have enabled me to achieve an excellent academic record and instilled in me the methodology of scientific inquiry, as reflected in my analytical approach to problem-solving.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //EDUCATION END -->

			<!-- WORK EXPERIENCE START -->
			<div class="row work-experience">
				<div class="col-md-10 col-md-offset-1">
					<h3>
						Work Experience
						<br>
						2014 - Now
					</h3>

					<div class="panel-group resume" id="work">

						<div id="w-0" class="resume-item">
							<div class="resume-year">
								<span class="resume-year">Jan-Aug,2015</span>
							</div>
							<div class="resume-btn text-center">
								<a ng-click="toggleWork(0)"></a>
							</div>
							<div class="panel">
								<div class="panel-heading resume-title">
									<div class="panel-title">
										<h4 class="resume-title">Engineering Intern - Cartera Commerce</h4>
									</div>
								</div>

								<div class="resume-description" ng-show="w.isToggled" id="education1">
									<div class="panel-body text-grey">
										<p>Worked on Cartera’s B2C prototype - Splender.com that included designing and implementing a multi-layered web application using MEAN stack technology – MongoDb, ElasticSearch, Angular js, Node js<br><br>
											•	Implemented user personalization including activity tracking, product price tracking, user-specific email alerts, etc<br><br>
											•	Created RESTful endpoints on middleware for retrieving user’s account information, financial details, activity and transactional information<br><br>
											•	Helped developing several services including email sending service using Amazon SES, service for running different back-office jobs, pgp-encryption/decryption services, services for archiving an dretriving data from AWS - S3 , etc<br><br>
											•	Built up an entire redemption system using Paypal RESTful APIs coupled with other features including forecasting redemption amounts & generating financial reports. Also integrated support for check redemption<br><br>
											•	Consumed Elasticsearch and solr services to query merchants, offers and products indexes<br><br>
											•	Writing node scripts for automating various back-office operations including data-archiving, user-transactions processing, generating email-feeds, etc using bluebird Promises and mongoose extensively<br><br>
											•	Designing several UI pages including “My Account”, “Merchant”, “Offers”, etc using Angular js, Bootstrap, Less.js<br><br>
											•	Implemented technologies including Node js with Express framework, Angular js, Python, HTML, CSS, Bootstrap , mongoose - Mongo DB, Grunt, etc</p>
										</div>
									</div>
								</div>
							</div>
							<div id="w-1" class="resume-item">
								<div class="resume-year">
									<span class="resume-year">Sep-Dec,2014</span>
								</div>
								<div class="resume-btn text-center">
									<a ng-click="toggleWork(1)"></a>
								</div>
								<div class="panel">
									<div class="panel-heading resume-title">
										<div class="panel-title">
											<h4 class="resume-title">Graduate Assistant, Fundamentals of Computer Networks</h4>
										</div>
									</div>

									<div class="resume-description" ng-show="w.isToggled" id="education1">
										<div class="panel-body text-grey">
											<p>I have been a TA previously for the course CS 4700/5700 [Fundamentals of Computer Networks] working with Professor David Choffnes in Fall 2014. It was a good experience correcting assignments, grading projects, assessing exams, conducting TA hours and sharing my knowledge with students.</p>
										</div>
									</div>
								</div>
							</div>
							<div id="w-2" class="resume-item">
								<div class="resume-year">
									<span class="resume-year">May-Aug,2014</span>
								</div>
								<div class="resume-btn text-center">
									<a ng-click="toggleWork(2)"></a>
								</div>
								<div class="panel">
									<div class="panel-heading resume-title">
										<div class="panel-title">
											<h4 class="resume-title">Web Developer Intern - Demandware, Inc.</h4>
										</div>
									</div>

									<div class="resume-description" ng-show="w.isToggled" id="education1">
										<div class="panel-body text-grey">
											<p>As an intern, I was working on Demandware's internal communication platform - XChange, participating in development and automation projects. In a short span of three and a half months, I <br><br>
												•	Upgraded existing plugins to XChange adding in new widgets and other UI features, as well as back-end components such as web services<br><br>
												•	Built and improved drag-n-drop widgets using Struts2 to help community managers customize their overview pages<br><br>
												•	Enhanced User Interface design for dynamically loading community pages using FreeMarker (FTL), JavaScript, CSS, Google closure templates (SOY structures)<br><br>
												•	Developed, documented and executed automated test scripts for integration of Single Sign-On into XChange<br><br>
												•	Implemented an automated longevity test suite for SAML/SSO<br><br>
												•	Created migration scripts using Selenium WebDriver for porting user profile in XChange<br><br>
												•	Implemented technologies including Java, JavaScript, AJAX, jQuery, FTL, Soy, Struts2, HTML, CSS, Postgres DB</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //.section-content -->
			</div>
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>